{% extends 'index.html' %}

{% block heading %}
    {{ super() }}
    {% block page %}Analysis{% endblock %}
{% endblock %}

{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                OLAP Analysis <small>Parking</small>
            </h1>
            <div style="margin-top: 30pt">
                <iframe frameBorder="0" height="450px" width="100%" scrolling="auto" src="http://localhost:8080/mondrian/testpage.jsp?query=datawarehouse">
                    <p>Il tuo browser non supporta gli iframes.</p>
                </iframe>
            </div>
        </div>
    </div>
    <!-- /.row -->
{% endblock %}