{% extends 'index.html' %}
{% from "_formhelpers.html" import render_bootstrap_field %}

{% block heading %}
    {{ super() }}
    {% block page %}Edit profile{% endblock %}
{% endblock %}

{% block content %}
<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Edit profile
            </h1>
        </div>
    </div>

    <div class="row">
    <div class="col-lg-10" style="padding-left: 20pt">
            <form action="{{ url_for('register') }}" method=post>
                <fieldset>
                    <div class="form-group">
                        {{ render_bootstrap_field(form.firstname,with_label='True', class='form-control') }}
                        {{ render_bootstrap_field(form.lastname,with_label='True',class='form-control') }}
                        {{ render_bootstrap_field(form.phonenumber,with_label='True', class='form-control') }}
                        {{ render_bootstrap_field(form.dob,with_label='True',placeholder='%Y-%m-%d',class='form-control') }}
                        {{ render_bootstrap_field(form.city,with_label='True' ,class='form-control') }}
                        {{ render_bootstrap_field(form.gender,with_label='True', class='radio' ) }}
                        {{ render_bootstrap_field(form.email,with_label='True',class='form-control') }}
                        {{ render_bootstrap_field(form.username,with_label='True',class='form-control')}}
                        {{ render_bootstrap_field(form.password,with_label='True',class='form-control')}}
                        {{ render_bootstrap_field(form.confirm,with_label='True',class='form-control')}}
                    </div>

                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% for category, message in messages %}
                            {% if messages %}
                                <h6 class="help-block" style="color: #ff6666">{{ message }}</h6>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}

                    <div class="form-group" style="padding-top: 15px;">
                        <input class="btn btn-success" type="submit" name="submit_reg" value="Salva">
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}