{% extends 'index.html' %}
{% from "_formhelpers.html" import render_bootstrap_field %}

{% block heading %}
    {{ super() }}
    {% block page %}Edit PPC{% endblock %}
{% endblock %}

{#{% block dropdown %}#}
{#    <script src="../static/js/jquery.js"></script>#}
{#    <script src="../static/js/bootstrap.min.js"></script>#}
{#    {{ super() }}#}
{#{% endblock %}#}

{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Settings
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-cog"></i>  <a href="{{ url_for('index') }}">Settings</a>
                </li>
                <li>
                    <a href="{{ url_for('view_ppc') }}">View PPC</a>
                </li>
                <li class="active">
                    Edit PPC
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <h2>PPC</h2>
        </div>
    </div>
    <div class="row" style="padding-top: 20pt">
        <div class="container">
            <div class="col-lg-6" style="padding: 0pt">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="{{ url_for('edit_ppc') }}" method=post>
                            <fieldset>
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="{{ form.name.id }}">
                                            {{ form.name.label.text }}
                                        </label>
                                        {{ form.name(readonly="readonly", class='form-control') }}
                                    </div>
                                    {{ render_bootstrap_field(form.latitude,with_label='True', class='form-control') }}
                                    {{ render_bootstrap_field(form.longitude,with_label='True',class='form-control') }}
                                    {{ render_bootstrap_field(form.district,with_label='True', class='form-control') }}
                                    {{ render_bootstrap_field(form.street,with_label='True',class='form-control') }}
                                    {{ render_bootstrap_field(form.company,with_label='True', class='form-control') }}
                                    {{ render_bootstrap_field(form.tel,with_label='True', class='form-control') }}
                                    {{ render_bootstrap_field(form.email,with_label='True', class='form-control') }}
                                    {{ render_bootstrap_field(form.cost,with_label='True', class='form-control') }}
                                </div>

                                {% with messages = get_flashed_messages(with_categories=true) %}
                                    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                                    {% if messages %}
                                        {% for category, message in messages %}
                                            <div class="alert alert-{{ category }} alert-dismissible" role="alert" style="text-align: center; margin: 0;">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span></button>
                                                <!-- <strong>Title</strong> --> {{ message }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}

                            </fieldset>
                            <div class="col-lg-12 text-center">
                                <div class="form-group" style="padding-top: 15px;">
                                    <input class="btn btn-success" type="submit" name="submit_reg" value="Salva modifiche">
                                </div></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}