{% extends 'index.html' %}

{% block heading %}
    {{ super() }}
    {% block page %}Homepage{% endblock %}
{% endblock %}

{% block banner %}
       <div id="container">
        <img src="../static/img/banner.png" alt="" style="width: 100%;"/>
    </div>
{% endblock %}

{% block content %}

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" style="margin: 27px">
                Home page </small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Panoramica
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-user" aria-hidden="true"></i> Modifica il tuo profilo</h4>
      Accedi al tuo profilo, potrai visualizzare e modificare i dati inseriti in fase di registrazione.
    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-fw fa-bar-chart-o" aria-hidden="true"></i> Visualizza statistiche</h4>
      La sezione dedicata alle statistiche mostrerà ....
    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-fw fa-edit" aria-hidden="true"></i> Modifica i dati</h4>
      Accedi all'area Forms, inserisci e/o modifica i dati relativi a ...
    </div>

    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-fw fa-table" aria-hidden="true" style="padding-top: 20pt"></i> Visualizza i dati</h4>
      Sezione dedicata alla visualizzazione dei dati relativi a ....
    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-bell" aria-hidden="true" style="padding-top: 20pt"></i> Le tue notifiche</h4>
      Visualizza in ogni momento l'elenco delle operazioni svolte.
    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-th-list" aria-hidden="true" style="padding-top: 20pt"></i> Visualizza tabelle</h4>
      Le sottosezioni di Tables ....
    </div>
    </div>
    <!-- /.row -->
{% endblock %}