{% extends 'index.html' %}

{% block heading %}
    {{ super() }}
    {% block page %}Homepage{% endblock %}
{% endblock %}

{% block banner %}
       <div id="container">
        <img src="../static/img/banner.png" alt="" style="width: 100%;"/>
    </div>
{% endblock %}

{% block content %}

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" style="margin: 27px">
                Home page </small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Panoramica
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-user" aria-hidden="true"></i> Modifica il tuo profilo</h4>
      Accedi al tuo profilo, potrai visualizzare e modificare i dati inseriti in fase di registrazione.
    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-car" aria-hidden="true"></i> Inserisci la tua auto</h4>
      Accedi alla sezione dedicata per inserire le tue automobili.
    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-product-hunt" aria-hidden="true"></i> Soste</h4>
      Accedi all'area Soste per visualizzare le soste effettuate e per prenotarne di nuove.
    </div>

    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-fw fa-table" aria-hidden="true" style="padding-top: 20pt"></i> Parcheggi</h4>
      Sezione dedicata alla visualizzazione dei dati relativi ai parcheggi PL e PPC della tua città.
    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-credit-card" aria-hidden="true" style="padding-top: 20pt"></i> Pass</h4>
      Visualizza in ogni momento l'elenco dei Pass acquistati.
    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-shopping-cart" aria-hidden="true" style="padding-top: 20pt"></i> Acquista un Pass</h4>
      Visualizza l'elenco dei Pass e acquista quello più adatto alle tue esigenze.
    </div>
    </div>
    <!-- /.row -->
{% endblock %}