{% extends 'index.html' %}

{% block heading %}
    {{ super() }}
    {% block page %}Tables{% endblock %}
{% endblock %}


{% block dropdown %}
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    {{ super() }}
{% endblock %}


{% block content %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Tables
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-fw fa-home"></i>  <a href="homepage.html">Home page</a>
                </li>
                <li class="active">
                    <i class="fa fa-table"></i> Users
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <h2>Users table</h2>
            <table id="table" class="table table-hover table-striped"
                   data-sort-name="stargazers_count"
                   data-sort-order="desc"
                   data-search="true"
                   data-show-refresh="true"
                   data-show-toggle="true"
{#                   data-show-columns="true"#}
                   data-click-to-select="true">
                <thead>
                <tr>
                    <th data-field="name">Name</th>
                    <th data-field="stargazers_count">Stars</th>
                    <th data-field="forks_count">Forks</th>
                    <th data-field="description">Description</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

    <script type=text/javascript>

        var $table = $('#table');
        var mydata =
            [
                {
                    "name": "bootstrap-table",
                    "stargazers_count": "526",
                    "forks_count": "122",
                    "description": "An extended Bootstrap table with radio, checkbox, sort, pagination, and other added features. (supports twitter bootstrap v2 and v3) "
                },
                {
                    "name": "multiple-select",
                    "stargazers_count": "288",
                    "forks_count": "150",
                    "description": "A jQuery plugin to select multiple elements with checkboxes :)"
                },
                {
                    "name": "bootstrap-show-password",
                    "stargazers_count": "32",
                    "forks_count": "11",
                    "description": "Show/hide password plugin for twitter bootstrap."
                },
                {
                    "name": "blog",
                    "stargazers_count": "13",
                    "forks_count": "4",
                    "description": "my blog"
                },
                {
                    "name": "scutech-redmine",
                    "stargazers_count": "6",
                    "forks_count": "3",
                    "description": "Redmine notification tools for chrome extension."
                }
            ];

        $(function () {
            $('#table').bootstrapTable({
                data: mydata
            });
        });

    </script>

{% endblock %}