{% extends 'index.html' %}

{% block heading %}
    {{ super() }}
    {% block page %}Tables{% endblock %}
{% endblock %}


{% block dropdown %}
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    {{ super() }}
{% endblock %}


{% block content %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Tables
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-fw fa-home"></i>  <a href="{{ url_for('index') }}">Home page</a>
                </li>
                <li class="active">
                    <i class="fa fa-table"></i> Users
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <h2>Utenti</h2>

            <div class="row">
                <div id="toolbar" >
                    <form id="send" method="post" action="{{ url_for('view_users') }}" onsubmit="getJSON()" enctype='application/json'>
                        <button id="delete" type="button" class="btn btn-danger" style="margin-right: 20px">
                            <i class="glyphicon glyphicon-remove"></i> Cancella</button>
                        <button id="edit" type="submit" class="btn btn-info" disabled>
                            <i class="glyphicon glyphicon-pencil"></i> Modifica</button>
                        <input type="hidden" name="jsonval" value=""/>
                    </form>
                </div>
            </div>

            <table id="table" class="table table-hover table-striped"
                   data-sort-name="stargazers_count"
                   data-sort-order="desc"
                   data-search="true"
                   data-show-toggle="true"
                   data-show-columns="true"
                   data-click-to-select="true"
                   data-pagination="true"
                   data-toolbar="#toolbar">
                <thead>
                <tr>
                    <th data-field="state" data-checkbox="true"></th>
                    {% for column in schema_to_view %}
                        <th data-sortable="true" data-field={{column}}>{{column}}</th>
                    {% endfor %}
                </tr>
                </thead>
            </table>

        </div>
    </div>

    <script type=text/javascript>

        $(function () {
            $('#table').bootstrapTable({
                data: {{ results|safe }}
            });
        });

        var checkedRows = [];

        $('#table').on('check.bs.table', function (e, row) {
            checkedRows.push(row.cf);
            console.log(checkedRows);
            if(checkedRows.length === 1)
                $('#edit').prop("disabled",false);
            else
                $('#edit').prop("disabled",true);
        });

        $('#table').on('uncheck.bs.table', function (e, row) {
            $.each(checkedRows, function(value) {
                if (checkedRows.includes(row.cf)) {
                    console.log(row.cf);
                    var index = checkedRows.indexOf(row.cf);
                    checkedRows.splice(index, 1);
                }
            });
            console.log(checkedRows);
            if(checkedRows.length === 1)
                $('#edit').prop("disabled",false);
            else
                $('#edit').prop("disabled",true);
        });

        function getJSON(){
            var formInfo = document.forms['send'];
            formInfo.jsonval.value = checkedRows;
        }

        $(function() {
            $('#delete').click(
                function () {
                    $.ajax({
                        url: '{{ url_for('delete_tuple') }}',
                        data: JSON.stringify($('#table').bootstrapTable('getAllSelections')),
                        contentType: 'application/json;charset=UTF-8',
                        datatype: 'json',
                        type: 'POST',
                        success: function (response) {
                            console.log(response);
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                });
        });

        $(function () {
            $('#delete').click(function () {
                var ids = $.map($('#table').bootstrapTable('getSelections'), function (row) {
                    console.log(row.username);
                    return row.username;
                });
                checkedRows = [];
                $('#table').bootstrapTable('remove', {
                    field: 'username',
                    values: ids
                });
            });
        });
    </script>

{% endblock %}